<h1>Create a new deck</h1>
<h3><a href="/decks">back</a></h3>
<form action="/decks" method="post">
  <input type="text" name="name" placeholder="Deck name" />
  <input type="submit" value="submit" />
</form>
