<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flashcard</title>
  <link rel="stylesheet" href="style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="stage">
    <div class="flashcard">
      <div class="front">
        <p>Front</p>
      </div>
      <div class="back">
        <p>Back</p>
      </div>
    </div>
  </div>
</body>
</html>